:root {
  --primary-font: 'Roboto', sans-serif;
  --oswald: 'Oswald', sans-serif;
  --wrapper: 192rem;
  --container: 120rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
}

a {
  display: block;
  text-decoration: none;
}
.wrapper {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.container {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
}

